.photo-grid {
    display: grid;
    margin: 0 auto;
    max-width: calc(100% - 96px);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-auto-rows: minmax(min-content, max-content);
}
@media screen and (max-width: 1150px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}
@media screen and (max-width: 800px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
@media screen and (max-width: 425px) {
    .photo-grid {
        max-width: 90%;
        grid-template-columns: 1fr;
        row-gap: 12px;
    }
}
