.header {
    margin: 28px 48px 0;
    height: 52px;
    position: relative;
    text-align: right;
    outline: 1px solid red;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 28px 24px 0;
    }
}
@media screen and (max-width: 425px) {
    .header {
        margin: 16px auto 0;
        width: 90%;
        height: 42px;
    }
}
