.place__website_link {
    text-decoration: underline;
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    transition: opacity 0.5s ease 0.1;
    max-height: 22px;
}

.place__website_link:hover {
    opacity: 0.8;
}
