.place__link {
    text-decoration: underline;
    color: #fff;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    transition: opacity 0.5s ease 0.1;
}

.place__link:hover {
    opacity: 0.8;
}
