.place {
    width: 100%;
    position: relative;
    max-height: 700px;
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-areas:
        'title website'
        'image paragraphs';
    margin: 0 0 80px 0;
}
