.footer {
    margin: 93px 48px 24px;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1150px) {
    .footer {
        margin-top: 93px;
    }
}
@media screen and (max-width: 800px) {
    .footer {
        margin: 89px 24px 24px;
    }
}
@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
        max-width: 90%;
        margin: 64px auto 24px;
    }
}
