.place__website {
    grid-area: website;
    display: flex;
    flex-direction: column-reverse;
    max-height: 46px;
    margin: auto 0 0 0;
}
@media screen and (max-width: 800px) {
    .place__website {
        margin: auto 0 5px 0;
    }
}
@media screen and (max-width: 425px) {
    .place__website {
        width: 90%;
        margin: 0 auto;
    }
}
